<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="nav">
    <div class="container nav-top">
        <div class="row nav-content">
            <div>
                <a id="nav" href="/" style="text-decoration: none;">Hình nền điện thoại đẹp cho dế yêu của bạn.</a>
            </div>
            <!--    icon search-->
            <div>
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <a href="add" class="btn-add" style="vertical-align:middle"><span>Add </span></a>
    <div class="container p-5" style="background-color: #eee;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for(var i = 0;i < 3;i++){ %>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                             src="https://24hstore.vn/upload_images/images/2019/11/14/anh-gif-1-min.gif"
                             style="object-fit: cover;" width="100%" height="500px">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Tải xuống</button>
                                </div>
                                <!--          <small class="text-muted">9 mins</small>-->
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <!-------------------------------->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
            <% for(var i = 0;i < 3;i++){ %>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                             src="https://vnn-imgs-f.vgcloud.vn/2022/03/24/21/nhung-anh-gif-pho-bien-nhat-moi-thoi-dai-8.gif"
                             style="object-fit: cover;" width="100%" height="500px">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Tải xuống</button>
                                </div>
                                <!--          <small class="text-muted">9 mins</small>-->
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<footer>
    <div class="d-flex">
        <h6 id="text1" style="color: #6c6c6c">POWERED BY</h6>
        <h6 id="text2" class="ml-1" style="color: #57a8ff">HÌNH NỀN ĐIỆN THOẠI ĐẸP</h6>
    </div>
</footer>

</body>
</html>
